{% extends "base.html" %}
{% block content %}
<div class="login-card">
    <div class="login-logo">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ICMPC Logo">
    <h2>ICMPC Inventory System</h2>
</div>

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <div class="hint">Default login: admin / admin123</div>
</div>
{% endblock %}
